# dependencies
node_modules

# production
dist
build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*

# macOS
.DS_Store

# vscode
.vscode

# coverage
coverage

# cache
.cache

# uploads
uploads

# frontend build
frontend/dist

# backend build
backend/dist